                <!-- _includes/cj.html -->

                <h1>CJ Trowbridge</h1>
                <p>AI, Sustainability, and Resiliency; in the forest, in the desert, and on TV.</p>
                <div class="callToAction">
                    <h4>Support:</h4> 
                    <a class="btn btn-buymeacoffee" href="https://buymeacoffee.com/cjtrowbridge">☕ Buy me a coffee</a>
                    <a class="btn btn-venmo" href="https://venmo.com/u/cjtrowbridge"><i class="fa-brands fa-venmo"></i> Venmo</a>
                    <a class="btn btn-cashapp" href="https://cash.app/$cjtrowbridge"><i class="fa-brands fa-cashapp"></i> CashApp</a>
                    <a class="btn btn-paypal" href="https://www.paypal.com/paypalme/cjtrowbridge"><i class="fa-brands fa-paypal"></i> PayPal</a>
                    <a class="btn btn-crypto" href="https://etherscan.io/address/0xf9988ed19214b0fff5ae539c080e83e3f3846dca">Eth Wallet</a>
                </div>
                <div class="socials">
                    <h4>Connect:</h4>
                    <a class="btn btn-tiktok" href="https://www.tiktok.com/@cjtrowbridge"><i class="fa-brands fa-tiktok"></i> TikTok</a>
                    <a class="btn btn-bluesky" href="https://bsky.app/profile/cjtrowbridge.com"><i class="fa-brands fa-bluesky"></i> Bluesky</a>
                    <a class="btn btn-mastodon" href="https://mastodon.social/@cjtrowbridge"><i class="fa-brands fa-mastodon"></i> Mastodon</a>
                    <a class="btn btn-youtube" href="https://www.youtube.com/@CJTrowbridge"><i class="fa-brands fa-youtube"></i> YouTube</a>
                    <a class="btn btn-twitch" href="https://www.twitch.tv/cjtrowbridge"><i class="fa-brands fa-twitch"></i> Twitch</a>
                    <a class="btn btn-substack" href="https://cjtrowbridge.substack.com/"><i class="fa-brands fa-substack"></i> Substack</a>
                    <a href="https://blog.cjtrowbridge.com" class="btn btn-primary">Blog</a>
                </div><!--/socials-->
                <div class="other">
                    <ul>
                        <li><a href="https://cjtrowbridge.com/2024-05-17_-_The_Illusion_of_Understanding_-_Deconstructing_AI_Metaphors.pdf">My graduate thesis in ethical artificial intelligence.</a></li>
                        <li><a href="https://cjtrowbridge.com/2024-03-16_-_NVIDIA_Comprehensive_Analysis_And_Strategic_Recommendations.pdf">MBA thesis on the future of datacenter strategy around artificial intelligence.</a></li>
                        <li><a href="https://github.com/cjtrowbridge/tiktok-backup/">Backup your favorite tiktok accounts.</a></li>
                        <li>
                            My Spotify Wrapped Playlists:
                            <ul>
                                <li><a href="https://open.spotify.com/playlist/37i9dQZF1FoC8yzta57ODa?si=a40f9062a6164353">2024</a></li>
                                <li><a href="https://open.spotify.com/playlist/37i9dQZF1Fa4gmZHP5ndnU?si=614199c294a14536">2023</a></li>
                                <li><a href="https://open.spotify.com/playlist/37i9dQZF1F0sijgNaJdgit?si=azUYm-ktR8-449aC4OPJvA">2022</a></li>
                            </ul>
                        </li>
                        <li>
                            Recent Longform Interviews:
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=S5tMgXwA6uk">Tree Interviews The High Desert Institute Team</a></li>
                                <li><a href="https://www.youtube.com/watch?v=wquTY4jIz20">"The Morning After The Revolution," My recent interview with Tree and Julia</a></li>
                            </ul>
                        </li>
                        <li>Academic Achievements:
                            <ul>
                                <li>Graduate Studies @ SFSU:
                                    <ul>
                                        <li>✔ <a href="https://cob.sfsu.edu/graduate-programs/mba">Masters in Business Administration (MBA)</a></li>
                                        <li>✔ <a href="https://cob.sfsu.edu/management/certificate/ai-ethics">Ethical Artificial Intelligence</a></li>
                                    </ul>
                                </li>
                                <li>Undergraduate Studies @ SFSU:
                                    <ul>
                                        <li>✔ <a href="http://bulletin.sfsu.edu/colleges/health-social-sciences/urban-studies-planning/">BA in Urban Studies and Planning</a></li>
                                        <li>✔ <a href="http://bulletin.sfsu.edu/colleges/ethnic-studies/race-resistance-studies/minor-queer-ethnic-studies/">Minor in Queer Ethnic Studies</a></li>
                                    </ul>
                                </li>
                                <li>Undergraduate Studies @ Sierra College:
                                    <ul>
                                        <li>✔ Computer Science</li>
                                        <li>✔ Sociology</li>
                                        <li>✔ Social Justice Studies</li>
                                        <li>✔ Women's Studies</li>
                                        <li>✔ Behavioral Science</li>
                                        <li>✔ Natural Science (Astronomy + Physics + Chemistry)</li>
                                        <li>✔ LGBT Studies and Queer Studies</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            See Also:
                            <ul>
                                <li><a href="https://cjtrowbridge.com/resume">My resume</a></li>
                                <li><a href="https://memes.cjtrowbridge.com/">My meme library</a></li>
                                <li><a href="https://cjtrowbridge.com/past">Other past projects</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/other-->